<!DOCTYPE html>
<html lang="en">
<head>
    <script src = "index.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div><button type="button" class="btn btn-primary" onclick="getAllStations()">Get All Stations</button>
    </div>
    <div>
        <div class="form-group">
            <label for="source">Source:</label>
            <input type="text" class="form-control" id="source">
        </div>
        <div class="form-group">
            <label for="dest">Destination:</label>
            <input type="text" class="form-control" id="dest">
        </div>
        <button type="button" class="btn btn-primary">Get Station Info</button>
    </div>
    <div class="form-group">
        <label for="station">Station:</label>
        <input type="text" class="form-control" id="station">
    </div>

    <div><button type="button" class="btn btn-primary" onclick="getStationInfo()">Get Station Info</button>
    </div>
</div>
</body>
</html>